.landing-page-best-practice-child {
  position: absolute;
  top: 2543px;
  left: 0;
  background-color: #25294f;
  width: 1920px;
  height: 788px;
}
.landing-page-best-practice-item {
  position: absolute;
  top: 2543px;
  right: -6.92px;
  width: 770.42px;
  height: 787.83px;
  object-fit: cover;
  opacity: 0.21;
}
.landing-page-best-practice-inner {
  position: absolute;
  bottom: -21.41px;
  left: -0.14px;
  width: 1920.29px;
  height: 731.11px;
  object-fit: cover;
}
.mask-group-1,
.mask-group-5 {
  position: absolute;
  left: 0;
  width: 1920px;
  object-fit: cover;
}
.mask-group-5 {
  bottom: -21.83px;
  height: 732px;
  opacity: 0.38;
}
.mask-group-1 {
  top: 0;
  height: 865px;
}
.apply-the-law {
  margin: 0;
}
.span {
  color: rgba(0, 0, 0, 0.87);
}
.apply-today {
  margin: 0;
  color: #f2b827;
}
.apply-the-law-container {
  position: absolute;
  top: 274.29px;
  left: 278px;
  font-size: 55px;
  line-height: 65px;
  font-family: "Roboto Serif";
  color: #fffefe;
}
.launch-a-rewarding-container {
  position: absolute;
  top: 492.29px;
  left: 278px;
  color: #fffefe;
}
.component-1-1-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #f2b827;
}
.apply-now {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 64px);
  font-weight: 600;
}
.component-1-1 {
  position: absolute;
  top: 599.29px;
  left: 278px;
  width: 190px;
  height: 58px;
}
.a-serious-choice-for-container,
.more-than-a-container {
  position: absolute;
  top: 2143.33px;
  left: 1297px;
  font-size: 35px;
  line-height: 40px;
  font-family: "Roboto Serif";
  color: #25294f;
  text-align: center;
}
.more-than-a-container {
  left: 354.79px;
}
.group-icon {
  position: absolute;
  top: 1615.54px;
  left: 0;
  width: 1920.29px;
  height: 415.71px;
  object-fit: cover;
}
.do-you-have-container {
  position: absolute;
  top: 2699.99px;
  left: 278px;
  font-size: 55px;
  line-height: 65px;
  font-family: "Roboto Serif";
  color: #92a5ba;
}
.path-78-icon {
  position: absolute;
  bottom: 704.7px;
  left: 191.47px;
  width: 1552.52px;
  height: 4.97px;
  object-fit: cover;
}
.landing-page-best-practice-child1 {
  position: absolute;
  top: 186.43px;
  right: -28.61px;
  width: 1188.23px;
  height: 669.73px;
  object-fit: cover;
}
.an-exceptional-force-container,
.the-oregon-state {
  position: absolute;
  right: 277px;
  display: inline-block;
  width: 574px;
}
.an-exceptional-force-container {
  top: 998.83px;
  font-size: 55px;
  line-height: 65px;
  font-family: "Roboto Serif";
  color: #25294f;
}
.the-oregon-state {
  top: 1218.61px;
}
.opportunities-as-diverse,
.oregon-state-police {
  position: absolute;
  top: 2245.01px;
  left: 283.5px;
  font-size: 18px;
  text-align: center;
  display: inline-block;
  width: 397px;
}
.opportunities-as-diverse {
  top: 2138.33px;
  left: 762px;
  font-size: 35px;
  line-height: 40px;
  font-family: "Roboto Serif";
  color: #25294f;
}
.before-anyone-steps,
.troopers-are-trained-container {
  position: absolute;
  top: 2277.74px;
  left: 768.5px;
  font-size: 18px;
  text-align: center;
  display: inline-block;
  width: 397px;
}
.before-anyone-steps {
  top: 2244.74px;
  left: 1273px;
  width: 359px;
}
.mask-group-2 {
  position: absolute;
  top: 1640px;
  left: 0;
  width: 1920px;
  height: 360px;
  object-fit: cover;
}
.join-our-modern {
  position: absolute;
  top: 1785.32px;
  left: 324px;
  font-size: 55px;
  font-family: "Roboto Serif";
  color: #25294f;
  text-align: center;
}
.interested-in-how {
  position: absolute;
  top: 2835.33px;
  left: 278px;
  color: #fffefe;
  display: inline-block;
  width: 515px;
}
.mask-group-3 {
  position: absolute;
  top: 2664px;
  right: 278px;
  width: 657px;
  height: 520px;
  object-fit: cover;
}
.component-1-2 {
  position: absolute;
  top: 1386px;
  left: 1069px;
  width: 190px;
  height: 58px;
}
.component-1-3,
.component-1-4,
.mask-group-4 {
  position: absolute;
  top: 1868px;
  left: 865px;
  width: 190px;
  height: 58px;
}
.component-1-4,
.mask-group-4 {
  top: 3074px;
  left: 278px;
}
.mask-group-4 {
  top: 984px;
  width: 657px;
  height: 494px;
  object-fit: cover;
}
.landing-page-best-practice-child2 {
  position: absolute;
  top: 195.19px;
  left: 1466.9px;
  width: 124.1px;
  height: 124.2px;
  object-fit: cover;
}
.are-you-already,
.the-skills-you {
  position: absolute;
  display: inline-block;
}
.the-skills-you {
  bottom: 301.17px;
  left: 278px;
  width: 575px;
}
.are-you-already {
  right: 277.41px;
  bottom: 277.17px;
  width: 555px;
}
.a-natural-next,
.make-a-lateral {
  position: absolute;
  bottom: 429.35px;
  font-size: 55px;
  line-height: 65px;
  display: inline-block;
  font-family: "Roboto Serif";
  color: #25294f;
}
.a-natural-next {
  left: 278px;
  width: 640px;
}
.make-a-lateral {
  right: 277px;
  width: 556px;
}
.component-2-1-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #92a5ba;
}
.component-2-1,
.component-2-2 {
  position: absolute;
  bottom: 136.17px;
  left: 278px;
  width: 190px;
  height: 58px;
  color: #25294f;
}
.component-2-2 {
  left: 1087px;
}
.landing-page-best-practice {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 4040px;
  text-align: left;
  font-size: 20px;
  color: #000001;
  font-family: Montserrat;
}
