/*<style>
/** GLOBAL OVERRIDE **/
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Serif:opsz,wght@8..144,700&display=swap');
*, *:before, *:after {
    box-sizing: border-box;
}
body, html {
    overflow-x: hidden;
}
body {
    margin: 0 !important;
    padding: 0 !important;
    background-color: #25294F !important;
}
video::-webkit-media-controls-panel {
    display: none !important;
    opacity: 0 !important;
}
header.or-header, .or-page-title, .or-show-if-side-navigation, .helpfulPoll, #OregonSideNavigation {
    display: none !important;
}
.row, .col-md-12, .col-md-9, .col-md-6, .col-md-3, .col-md-2, .col-md-1 {
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
}
.col-md-9 {
    width: 100vw !important;
}
.or-navbar, .or-navbar-search-wrapper {
    background-color: #25294F !important;
    /* background-color: #2A2E5C !important; */
}
#main {
    width: 100vw;
    margin: 0 !important;
    padding: 0 !important;
}
.container {
    width: 100vw !important;
    margin: 0 !important;
    padding: 0 !important;
}
footer {
    box-shadow: none !important;
    padding: 0 !important;
    background-color: #25294F !important;
}
main a, footer a, .alert a {
    color: #ADA076 !important;
    text-decoration: none !important;
}
h3, footer li {
    color: #DEDEDE !important;
}
/* GENERAL CSS */
.fullwidth {
    display: flex !important;
    width: 100vw;
    margin: 0;
    padding: 0;
}
.apply-now-btn {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    font-size: 125%;
    width: 200px;
    padding: 12px 24px;
    color: #000000;
    background-color: #f2b827;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.apply-now-btn:active,.apply-now-btn:hover,.apply-now-btn:focus,.apply-now-btn:visited {
    background-color: #f2b827;
    color: #000000;
}
.apply-now-btn.serv {
    background-color: #92A5BA !important;
    color: #25294F !important;
}
.apply-now-btn.serv:active,.apply-now-btn.serv:hover,.apply-now-btn.serv:focus,.apply-now-btn.serv:visited {
    background-color: #92A5BA !important;
    color: #25294F !important;
}
.flexbox {
    display: flex;
    position: relative;
    z-index: 1;
    width: 100%;
    align-items: center;
    padding: 0;
}
/* Apply the Law. Apply Yourself. Apply Today. */
.applythelaw {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: calc(100vh - 130px);
    margin: 0;
    padding: 0;
    z-index: 1;
    background-color: #25294F;
}
.applythelaw {
    background-image: url(https://storage.googleapis.com/osp-video/img/applythelaw_bg.png);
    background-position: bottom center;
    background-size: cover;
}
.applythelaw .bg-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}
.applythelaw .bg-container img {
    min-width: 100%;
    min-height: 100%;
    max-width: none;
    max-height: none;
    display: block;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}
.applythelaw .text {
    width: 600px;
    margin-left: 275px;
}
.applythelaw .video {
    width: calc(100% - 700px);
}
.applythelaw h1 {
    font-family: 'Roboto Serif', Times, serif;
    font-size: 55px;
    font-weight: 700;
    line-height: 65px;
    text-align: left;
    margin: 0;
    color: #FFFEFE;
}
.applythelaw h1 span {
    color: #F2B827;
}
.applythelaw p {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #DEDEDE;
    margin: 35px 0 70px 0;
    width: 80%;
}
.applythelaw .video {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}  
.applythelaw .video video {
    width: 100%;
    object-fit: cover;
    border: none;
}
/* An Exceptional Force Seeking Exceptional Cadets */
.exceptional {
    background-color: #FFFEFE;
    padding: 128px;
}
.exceptional .flexbox {
    gap: 128px;
}
.osp_bike {
    width: 658px;
}
.osp_bike img {
    width: 100%;
}
.exceptional h2 {
    font-family: 'Roboto Serif', Times, serif;
    font-size: 55px;
    font-weight: 700;
    line-height: 65px;
    text-align: left;
    letter-spacing: 0px;
    color: #25294F;
}
.exceptional p {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    letter-spacing: 0px;
    color: #000000;
}
/* Join Our Modern, Multi-Disciplinary Police Force */
.modern {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #92A5BA;
    padding: 96px;
}

.modern .bg {
    position: absolute;
    z-index: 0;
    overflow: hidden;
}

.modern .bg img {
    width: 380px;
}

.modern .text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
}

.modern .text h2 {
    font-family: 'Roboto Serif', Times, serif;
    font-size: 55px;
    font-weight: 700;
    line-height: 65px;
    text-align: center;
    letter-spacing: 0px;
    color: #25294F;
    text-shadow:
        -2px -2px 0 #92A5BA,
        2px -2px 0 #92A5BA,
        -2px 2px 0 #92A5BA,
        2px 2px 0 #92A5BA;
}
/* More than a job. A calling. */
.threecolumn {
    display: grid;
    place-items: center;
    background-color: #FFFEFE;
    padding: 128px;
}
.threecolumn .flexbox {
    gap: 128px;
}
.threecolumn h3 {
    font-family: 'Roboto Serif', Times, serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 40px;
    text-align: left;
    letter-spacing: 0px;
    color: #25294F !important;
}
.threecolumn p {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    letter-spacing: 0px;
    color: #000000;
}
/* Do You Have What it Takes? */
.whatittakes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: calc(100vh - 200px);
    margin: 0;
    padding: 0;
    z-index: 1;
}
.whatittakes .bg-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}
.whatittakes .bg-container img {
    max-width: none;
    max-height: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 20%;
}
.whatittakes .text {
    width: 50%;
    padding-left: 275px;
}
.whatittakes .video {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}  
.whatittakes .video video {
    width: 100%;
    object-fit: cover;
    border: none;
}
.whatittakes h2 {
    font-family: 'Roboto Serif', Times, serif;
    font-size: 55px;
    font-weight: 700;
    line-height: 65px;
    text-align: left;
    margin: 0;
    color: #92A5BA;
}
.whatittakes p {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #DEDEDE;
    margin: 35px 0 70px 0;
    width: 80%;
}
/* A Natural Next Step for Military Veterans */
.service {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    overflow: hidden;
    width: 100vw;
    /* height: 750px; */
    margin: 0;
    padding: 0;
    z-index: 1;
    background-color: #D3D3D0;
    padding: 192px;
}
.service .bg-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}
.service .bg-container img {
    max-width: none;
    max-height: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 100%;
}
.service .flexbox .column {
    width: 50%;
}
.service .flexbox .column.one {
    padding-right:128px;
}
.service .flexbox .column.two {
    padding-right:128px;
}
.service h2 {
    font-family: 'Roboto Serif', Times, serif;
    font-size: 55px;
    font-weight: 700;
    line-height: 65px;
    text-align: left;
    margin: 0;
    color: #25294F;
}
.service p {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #000000;
    margin: 35px 0 70px 0;
    width: 80%;
}
/* Responsive design for smaller screens */
@media (max-width: 1024px) {
    .exceptional .flexbox,
    .threecolumn .flexbox {
        gap: 64px;
    }
    .exceptional h2,
    .modern .text h2,
    .whatittakes h2,
    .service h2,
    .applythelaw h1 {
        font-size: 45px;
        line-height: 55px;
    }
    .exceptional p,
    .threecolumn p,
    .whatittakes p,
    .service p {
        font-size: 18px;
        line-height: 22px;
    }
    .applythelaw .text,
    .applythelaw .video,
    .whatittakes .text,
    .whatittakes .video,
    .service .flexbox .column {
        width: 80%;
        margin: 0 10%;
    }
    .applythelaw,
    .whatittakes {
        height: auto;
        padding: 64px 0;
    }
    .osp_bike,
    .modern .bg img {
        width: 100%;
    }
    .service {
        padding: 128px 0;
    }
}
@media (max-width: 768px) {
    br {
        display: none;
    }
    .flexbox, .applythelaw, .whatittakes, .service {
        display: flex !important;
        flex-direction: column !important;
    }
    .applythelaw,
    .exceptional,
    .modern,
    .threecolumn,
    .whatittakes,
    .service {
        padding: 40px 20px;
    }
    .exceptional h2,
    .modern .text h2,
    .whatittakes h2,
    .service h2,
    .applythelaw h1 {
        font-size: 45px;
        line-height: 60px;
    }
    .applythelaw p,
    .exceptional p,
    .threecolumn p,
    .whatittakes p,
    .service p {
        width: 100%;
        font-size: 22px;
        line-height: 34px;
    }
    .applythelaw .text,
    .applythelaw .video,
    .whatittakes .text,
    .whatittakes .video,
    .service .flexbox .column {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .video iframe {
        margin: 60px 0 0 0;
    }
    .exceptional .flexbox,
    .threecolumn .flexbox {
        gap: 32px !important; /* Adjust the gap as per your design */
    }
    .osp_bike {
        width: 80vw;
    }
    .modern .bg img {
        width: 100%;
    }
    .service {
        padding: 64px 0; /* Adjust the padding as per your design */
    }
    .applythelaw .video {
        display: block;
        align-items: center;
        padding-top: 60px !important;
    }
    .apply-now-btn {
        display: block;
        width: 220px !important;
        margin: 0 auto;
        text-align: center;
    }
    .service .flexbox .column.one,
    .service .flexbox .column.two {
        padding: 20px;
    }
}
@media (max-width: 576px) {
    br {
        display: none;
    }
    .flexbox, .applythelaw, .whatittakes, .service {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: -webkit-flex !important;
        display: flex !important;
        flex-direction: column !important;
    }
    .applythelaw .text,
    .applythelaw .video,
    .whatittakes .text,
    .whatittakes .video,
    .service .flexbox .column {
        width: 100% !important;
        margin: 0;
        padding: 0 10px;
    }
    .exceptional .flexbox,
    .threecolumn .flexbox {
        gap: none !important;
    }
    .osp_bike {
        width: 80vw;
    }
    .modern .bg img {
        width: 100%;
    }
    .service {
        padding: 32px 0;
    }
    .applythelaw .video {
        display: block;
        align-items: center;
        padding-top: 60px !important;
    }  
}
/*</style>